
h1, h2 {
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3 {
    font-family: "Times New Roman", Times, serif;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

/* Light blue background */
body {
    background-color: lightblue;
}

/* 2nd paragraph adjustments, color box and padding/width/margin and border */
#paragraph2 {
    border: 4px solid green;
    padding: 15px 25px;
    background-color: white;
    width: 51%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: auto;
    line-height: 1.8;
}

/* 4th and 5th adjustments, colors and boxed */
.blue {
    border: 1.2px solid black;
    padding: 15px 20px;
    background-color: darkblue;
    color: white;
    margin-bottom: 10px; /* ensures separate boxes */
    line-height: 1.5;
}

/* Table layout */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
    width: 37%;
    font-size: 11px;
}

/* Table headers and data cells borders */
th, td {
    border: 1px solid black;
}

/* header row lightgray */
th {
    background-color: lightgray;
    padding: 1px 8px;
}

/* Contents of the cells white */
td {
    background-color: white;
    padding: 8px;

}

/* Have leading numbers instead of 1, example 01 instead of 1*/
ol {
    list-style-type: decimal-leading-zero;
    font-size: 12px;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;

}

/* Item font smaller than marker */
ol li {
    font-size: 10px;
}

/* Font size for the marker */
ol li::marker {
    font-size: 12px;
}

/* Both below for link colors */
ol li a {
    color: darkblue;   
}

article:last-of-type section p a {
    color: darkred;
}
